body {
	background-color:red;
	margin: 10px;
	padding: 10px;
	
}
title {
	text-align: center;
}
img {
		width:250
		height:250
		margin: 20px; 
}

h1 {
	color: yellow;
	text-align: center ;
	margin: 20px;
	font-weight: bold 
	}
h2 {
	color: red;
	text-align: right ;
	margin: 20px;
	font-weight: bold
}

p {
	font-family: verdana;
	font-align: 500px;
	color: black;
	background-color: yellow;
	margin: 20px;
}
h3 {
	font-family: verdana;
	font-align: 500px;
	color: black;
	background-color: yellow;
	margin: 20px;
}



