body {

	background-color:red;
	color: gold;
	margin: 10px;
	padding: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	 border: 5px solid white;
	 font-size:5px;
	}


h1 { color: yellow;
	text-align: center ;
	margin: 20px;
	
	font-size:50px;

}	


h2 {
	background-color:gold;
	text-align:center; 
	font-weight: thin ;
	font-size: 19px;
	color: blue;
	margin: 10px;
	margin-bottom:110px;
	padding: 25px;
	margin-left: 400px;
	margin-top:20px;
   	position:right;
    width: 600px;
    height: 100px;
    border: 3px 
    solid black;
    

}
h3 {
 	background-color:black;
	text-align:center;
	color:gold;
	font-weight:bold;
	font-family: cursive;
	font-size:24px; 
	margin-top:200px;
	padding:4px;
	border: 5px solid white 

	
}
h4 {
	background-color:gold;
	margin: 10px;
	padding: 10px;
	text-align:center;
	font-weight:bold;
	font-size:25px;
	font-family: cursive;
	letter-spacing: 1px;
	color: black;
	 border: 2px solid white;


}
h5 {background-color:black;
	margin: 10px;
	padding: 10px;
	text-align:center;
	font-weight:bold;
	font-size:25px;
	color:red;
	letter-spacing: 1px;
	 border: 2px solid gold;
}
h6{background-color:white;
	margin: 10px;
	padding: 10px;
	text-align:center;
	font-weight:bold;
	letter-spacing: .5px;
	font-size:22px;
	font-family: cursive;
	color:black;
	 border: 2px solid gold;
}



p
{ 
	text-align:center; ;
	background-color:blue;
	margin:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16.5px;
	padding:10px;
	font-weight:thin;
	font-weight:bold;
	letter-spacing: 2px;
	color:gold;
	border: 3px solid white;

}

div {
	
	margin: 30px;
}

 
img {
	background-color: gold;
	 border: 8px solid skyblue;
	 margin:5px;
	 margin-left:5px;
	
}
ol{
	font-size: 20px ;
	background-color: skyblue;
	color: green;
	font-weight:bold;
	margin: 10px;
	padding: 10px;
	font-family: "Times New Roman", Georgia, Serif;
	letter-spacing: 1px;
	text-align:center;
	 border: 2px solid white;

}

ul{
	background-color: gold;
	font-weight:bold;
	margin: 10px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	letter-spacing: 1px;
	text-align:center;
	 border: 2px solid black;
}